# Compiled class file
*.class

#maven
target

# Log file
*.log

#IJ
.idea
*.iml

#eclipse
.classpath
.settings
.project
.settings/**/*
.settings/*
/.settings

# Mac OS X
*.DS_Store

#various
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dist
